body {

    font-family: 'League Spartan', sans-serif;
    margin: 0px;
}

.top-container {
    background-color: #E4F9F5;
    font-size:x-large;
    padding-top: 10%;
    position: relative;
    text-align: center;
    
}
.middle-container   {
    background-color: red;
    height: 200px;
    position: relative;
    width: 200px;
}
.bottom-container   {
    background-color: blue;
    height: 200px;
    left:100px;
    position: relative;
    top: -100px;
    /* display:inline-block; */
    width: 200px;
}
h1 {
font-family: sacramento, cursive;
font-size:3em;
color: #11999E;
margin: 0;
}
h2, h3 {
font-family: montserrat, sans-serif;

}
.bottomcloud {
    bottom: 35%;
    left:19%;
    position:absolute;
}
.topcloud {
    position:absolute;
    right: 15%;
    top: 6%;
}
.programmer {
    margin:0px;
    color:#11999E;
}