body {

    font-family: 'League Spartan', sans-serif;
    margin: 0;
    text-align: center;
    width:100%;
}
img {
    max-width: 100%;
}

.top-container {
    background-color: #E4F9F5;
    font-size:3rem;
    padding-top: 10%;
    position: relative;
   
}

.middle-container   {

}
.bottom-container   {

}
h1 {
color: #11999E;
font-family: sacramento, cursive;
font-size: 8rem;
margin: 2rem auto 0;
}
h3 {
font-family: montserrat, sans-serif;

}
.bottomcloud {
    bottom: 35%;
    left:19%;
    position:absolute;
}
.topcloud {
    position:absolute;
    right: 15%;
    top: 6%;
}
.programmer {
    color:#11999E;
    margin:0px;
    font-size:2.5rem;
}
.mypic {
    height:auto;
    max-width: 150px;
    border-radius: 50%;
}

.middle-container img {
    border-radius: 50%;
}