body {

    font-family: 'League Spartan', sans-serif;
    font-size:1.5rem;
    margin: 0;
    text-align: center;
    width:100%;
}
img {
    max-width: 100%;
}

.top-container {
    background-color: #E4F9F5;
    font-size:3rem;
    padding-top: 10%;
    position: relative;
   
}

.middle-container   {

}
.bottom-container   {

}
.hobby {
    max-width: 20rem;
}
a {
    color:#11999E;
text-decoration: none;
}
a:hover {
    color:#244849;
    text-decoration: underline;
    text-decoration-color:#11999E;
    cursor:copy;
}
h1 {
color: #11999E;
font-family: sacramento, cursive;
font-size: 8rem;
margin: 2rem auto 0;
line-height: 1.2;
}
h2 {
    color:#40514E; 
    font-weight:normal;
}
h3 {
font-family: montserrat, sans-serif;
color:#40514E;

}
.bottomcloud {
    bottom: 35%;
    left:19%;
    position:absolute;
}
.topcloud {
    position:absolute;
    right: 15%;
    top: 6%;
}
.programmer {
    color:#11999E;
    font-size:2.5rem;
    margin:0px;
}
.mypic {
    border-radius: 50%;
    height:auto;
    max-width: 150px;
}
